// =============================================================================
// FACETED SEARCH (Settings)
// =============================================================================

$facetedSearch-toggle-border: $accordion-border;
$facetedSearch-toggle-borderWidth: $accordion-navList-borderWidth;
$facetedSearch-toggle-borderRadius: $global-radius;
$facetedSearch-toggle-padding: spacing("single");
$facetedSearch-toggle-verticalSpacing: spacing("third") + spacing("third");
